<h1>Productos en tiempo real</h1>

<div id="contenedorProductos"></div>

<h3>Agregar Productos</h3>

<form>
    <input type="text" id="title" placeholder="titulo">
    <input type="text" id="description" placeholder="descripcion">
    <input type="number" id="price" placeholder="precio">
    <input type="text" id="img" value="sin imagen">
    <input type="text" id="code" placeholder="codigo">
    <input type="number" id="stock" placeholder="stock">
    <input type="text" id="category" placeholder="categoria">
    <select  id="status">
        <option value="true"> Activo</option>
        <option value="false"> Inactivo</option>
    </select>
    <button id="botonAgregar">Agregar producto</button>
</form>



<script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
<script src="../js/script.js"></script>